<html>
<head>
       <title>Yandere Teddy Bear Blog</title>
   </head>
    <p>Hi! I'm a Yandere Teddy Bear.</p>
    <p>Welcome to my blog!</p>

    <body>
        <div>
            <h1><a href="">Yandere Teddy Bear Blog</a></h1>
        </div>

        <div>
            <p>published: 6.28.2017, 13:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Cute and crazy are the blogs themes.</p>
        </div>

        <div>
            <p>published: 6.28.2017, 13:40</p>
            <h2><a href="">My second post</a></h2>
            <p>I love plushies, cute things, stickers, animals, sweets, books, and shows.</p>
        </div>
    </body>
</html>
